<section *ngIf="tokenService.currentUserData" class="g-bg-gray-light-v5 g-py-20 page-heading">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Expenses</h2>
      </div>
    </div>
  </div>
</section>

<div class="container content">
  <p class="text-right" *ngIf="tokenService.currentUserData && expenses?.length < 1">
    <a routerLink="/expense/add" [queryParams]="{user_id: tokenService.currentUserData.id}" class="btn btn-u btn-primary" title="Add Expense">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </p>
  <div class="profile-body margin-bottom-20 top-separator">
    <div class="row" *ngIf="expenses?.length > 0">
      <div class="col-md-12">
        <div id="shortcode4">
          <div class="shortcode-html">
            <!-- Basic Table -->
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Category</th>
                  <th>Created date</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let expense of expenses">
                  <td><a [routerLink]="['/expense/' + expense?.id]">{{expense.description}}</a></td>
                  <td>{{expense.amount}}</td>
                  <td><span class="u-label g-bg-blue g-mr-10 g-mb-15">{{expense.category}}</span></td>
                  <td>{{expense.created_date}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
