<div class="u-header__section u-header__section--light g-bg-gray-dark-v1 g-color-white g-transition-0_3">
  <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0
      g-pos-abs g-top-3 g-right-0 collapsed" type="button" aria-label="Toggle navigation"
      aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
      data-target="#navBar">
        <span class="hamburger hamburger--slider">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </button>
       <!-- Logo -->
        <a class="nav-link logo"  href="#/">
          Expense Tracking
        </a>
        <!-- End Logo -->

      <!-- Navigation -->
      <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
          <li class="nav-item  g-mx-10--lg g-mx-15--xl" *ngIf="!tokenService.userSignedIn()">
            <a  routerLink="/" class="nav-link g-py-7 g-px-0 login-nav text-white">Login</a>
          </li>

          <li class="nav-item  g-mx-10--lg g-mx-15--xl" *ngIf="!tokenService.userSignedIn()">
            <a routerLink="user/register" class="nav-link g-py-7 g-px-0 login-nav text-white">Signup</a>
          </li>
          <li class="nav-item  g-mx-10--lg g-mx-15--xl" *ngIf="tokenService.userSignedIn()">
            <div class="dropdown">
              <a class="nav-link g-py-7 g-px-0 login-nav text-white break-word">{{tokenService.currentUserData?.email}}</a>
              <div class="dropdown-content">
                <a class="nav-link" (click)="onLogout($event)" href="#">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- End Navigation -->
    </div>
  </nav>
</div>

 <router-outlet></router-outlet>


