<section class="g-bg-gray-light-v5 g-py-20 page-heading">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h3 class="text-uppercase">Add Income</h3>
      </div>
    </div>
  </div>
</section>

<div class="container g-py-50">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" [formGroup]="incomeForm" (ngSubmit)="onSubmit()" ngFormModel="income">
        <!-- Input with Autocomplete -->
        <div class="form-group g-mb-20">
          <label class="g-mb-10" for="description">
            <span *ngIf="!formErrors.description"
                  [ngClass]="{'text-success': !incomeForm.controls.description.pristine}">Description</span>
            <span *ngIf="formErrors.description" class="text-danger">{{formErrors.description}}</span>
          </label>
          <input type="text" class="form-control form-control-md rounded-0 ui-autocomplete-input"
                           id="description" formControlName="description">
        </div>

        <!-- Input with Autocomplete -->
        <div class="form-group g-mb-20">
          <label class="g-mb-10" for="amount">
            <span *ngIf="!formErrors.amount"
                  [ngClass]="{'text-success': !incomeForm.controls.amount.pristine}">Amount</span>
            <span *ngIf="formErrors.amount" class="text-danger">{{formErrors.amount}}</span>
          </label>
          <input type="text" class="form-control form-control-md rounded-0 ui-autocomplete-input"
                           id="amount" formControlName="amount">
        </div>
        <hr class="g-brd-gray-light-v4 g-mx-minus-30">
        <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
        <div class="text-right">
          <button class="btn btn-md u-btn-default rounded g-py-13 g-px-25" type="button" (click)="onIncomeCancel()">
            Cancel
          </button>
          <button class="btn btn-md u-btn-primary rounded g-py-13 g-px-25" type="submit">
            Add Income
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
